<style>
h1, p{
    margin: 5px;
    padding: 0;
}
input{
    margin: 10px 10px;
    padding: 5px;
    position: absolute;
}

h2 {
    background: pink;
    color: white;
    padding: 5px 0;
    margin: 3px;
    position: relative;
    font-size:17px;
}
h2:before, h2:after {
    content: "";
    background: pink;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
}
h2:before {
    right: 100%;
}
h2:after {
    left: 100%;
}

h2:nth-of-type(1), h2:nth-of-type(1):before, h2:nth-of-type(1):after { background: #dc4916; }
h2:nth-of-type(2), h2:nth-of-type(2):before, h2:nth-of-type(2):after { background: #6871b1; }
h2:nth-of-type(3), h2:nth-of-type(3):before, h2:nth-of-type(3):after { background: #f2d859; }
h2:nth-of-type(4), h2:nth-of-type(4):before, h2:nth-of-type(4):after { background: #f2b7e8; }
h2:nth-of-type(5), h2:nth-of-type(5):before, h2:nth-of-type(5):after { background: #7fdb96; }

.left-cut:after {
  display: none;
}
.right-cut:before {
width: 15px;
}

</style>
<script type="text/javascript">
    function notifyOffer () {
        chrome.extension.sendRequest({select_inv_uuid: "{{inv_uuid}}"}, function(response) {});
    }
</script>

<h2 class="left-cut">さかまっきー</h2>
<p><a href='javascript:chrome.tabs.create({"url":"https://plus.google.com/hangouts/extras?authuser=0&hl=ja&eid=", "selected":true});window.close();' onclick="notifyOffer()"><img src="img/makky.jpg" width="75" ><input type="button" value="オファーする" onclick="notifyOffer()"></a></p>
<h2 class="right-cut">うっちー</h2>
<p><img src="img/uchi.jpg" width="75"><input type="button" value="オファーする"></p>
<h2 class="left-cut">家入様</h2>
<p><img src="img/ieiri.JPG" width="75"><input type="button" value="オファーする"></p>
<h2 class="right-cut">りさぽん</h2>
<p><img src="img/rei3.png" width="75"><input type="button" value="オファーする"></p>
<h2 class="left-cut">おっさん</h2>
<p><img src="img/seanparker.jpg" width="75"><input type="button" value="オファーする"></p>
