@charset "utf-8"; 

html,body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

dl dt{ 
 margin:20px 20px; 
 font-size:large; 
 cursor:pointer; 
} 

div#backLayer{ 
 display:none; 
 position:fixed; 
 left:0; 
 top:115px;
 height:100%;
 width:100%; 
 background:black;
 filter:alpha(opacity=75); 
 opacity: 0.75;
 z-index: 10000000;
} 
* html div#backLayer{ 
 position:absolute; 
} 

#popLayer{ 
 display:none; 
 width:580px;
 height:480px;
 background:#ffffff; 
 padding:10px; 
 position: fixed; 
 top:53%;
 left:50%;
 z-index: 10000001;
}


#popLayer img.close{ 
 position:absolute; 
 top:-10px; 
 right:-10px; 
 cursor:pointer; 
} 
* html #popLayer{ 
 position: absolute; 
} 

